<h1><%="#{@player_1} v #{@player_2}"%></h1><br>
<div>
  <%=@player_1%> HP: <%=@point1%>
  <form action="/attack" method="get">
    <input type="submit" name="Attack" value="Attack!"><br>
  </form>
  <%=@player_2%> HP: <%=@point2%> <br>
</div>